

<form asp-controller="Checkout" asp-action="Checkout" method="post" class="form" role="form" enctype="multipart/form-data">


    <input type="text" name="paymentMethod" value="offline" />
    <button type="submit" class="form-button">Add a food</button>


</form>