
<div class="stat-number-container">
    <img src="~/Images/Assets/delivered-item.png" class="stat-imge" />

    <div class="stat">
        <span class="stat-number">990</span>
        <span class="stat-disc">delivered item</span>
    </div>
    
</div>
