@{
    DashboadOpration Statistics = new DashboadOpration() { Imge = @"\images\assets\stat_dashboard.png", Title = "Statistics" };
    DashboadOpration FoodEdit = new DashboadOpration() { Imge = @"\images\assets\fast-food.png", Title = "Food Edit" };
    DashboadOpration Orders = new DashboadOpration() { Imge = @"\images\assets\list.png", Title = "Orders" };
}


<aside class="aside-container">

    <div class="aside-logo-container">
        <img src="~/Images/logo_full.png" class="aside-logo" />

        <h1 class="aside-brand-name">Elghool Food</h1>

    </div>

    <a asp-controller="Dashboad" asp-action="Statistics">
        <partial name="_AsideOprationPartial" model="Statistics" />
    </a>
    <a asp-controller="Dashboad" asp-action="FoodEdit">
        <partial name="_AsideOprationPartial" model="FoodEdit" />
    </a>

    <a asp-controller="Dashboad" asp-action="Orders">
        <partial name="_AsideOprationPartial" model="Orders" />
    </a>
</aside>


