


<link rel="stylesheet" href="~/css/_AsidePartial.css" asp-append-version="true" />

<nav class="aside-container">

    <a asp-controller="Food" asp-action="UpdataFood">
        <button class="btn dashboad-opration">update food</button>
    </a>
    <a asp-controller="Food" asp-action="AddFood">
        <button class="btn dashboad-opration">add new food</button>
    </a>

    <a asp-controller="Food" asp-action="AddFood">
        <button class="btn dashboad-opration">orders</button>
    </a>
    <a asp-controller="Food" asp-action="AddFood">
        <button class="btn dashboad-opration">users statistics</button>
    </a>
</nav>

