


<link rel="stylesheet" href="~/css/_DashboadHeaderPartial.css" asp-append-version="true" />

<header class="header">
    
            <h1 class="nav-title"> Dashboard </h1>
               
            

        <div class="user-profile">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">
            <img src="~/Images/user image.png" class="user-image" />
            </a>

            <div>
                    <h1 class="profile-user-name">YousefElghool</h1>
                    <h1 class="profile-user-email">YousefElghool@gmail.com</h1>
                <h1 class="profile-user-role">Admin</h1>
                    
            </div>

        </div>

</header>
