


<link rel="stylesheet" href="~/css/_HeaderPartial.css" asp-append-version="true" />

<header class="header">
   <nav class="nav">


       <div class="div-container">
            <img src="~/img/logo_full.png" class="logo" />

            <h1 class="Brand-name">Elghool Food</h1>

       </div>
                    
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">Abuat us</a>
                </li>

                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Contact us</a>
                </li>
            </ul>


        <div class="imges-container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/shopping_cart.png" class="shopping-cart" />
            </a>
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/search_icon.png" class="search-icon" />
            </a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">
            <img src="~/img/user image.png" class="user-image" />
            </a>
        </div>

   </nav>
</header>
