@using Online_Food_Ordering_System.View_Models
@model CartItemVeiwModel


<div class="product-card" id="card">

    <div class="product-details">

        <div class="details-top-section">
            <div class="rating-container">

                <form asp-controller="Cart" asp-action="Remove" method="post" role="form">
                <input type="hidden" asp-for="CartId" />
                <button type="submit">
                <img src="~/Images/Remove.png" class="stare" />
                </button>
                </form>
            </div>

           
        </div>

        <div class="product-name">@Model.Name</div>

        <div class="details-down-section">
            <div class="proudect-price">@Model.Price$</div>
            <div class="proudect-price">x</div>
            <form asp-controller="Cart" asp-action="Update" method="post" role="form">
            <input asp-for="Quntity" type="number" onchange="UpdateQuntity(this)" class="add-to-cart-button" />
                <button type="submit" id="quntityButton" hidden></button>
                <input type="hidden" asp-for="CartId">
            </form>
            <div class="proudect-price">=</div>
            <div class="proudect-price">@Model.Price$</div>



        </div>


    </div>
    
    <img src="@(Model.Image.Replace("~" , ""))" class="food-imge" />
</div>

