@using Online_Food_Ordering_System.Views
@model CTypeFilterViewModel

<form class="filter-container">
    
    @{
        string status = (Model.SelectedTypeId == 0 ? "filter-craitaria-selected" : "filter-craitaria-unselected");
    }
    

    <button type="submit" name="id" value="0" class="filter-craitaria @status"> All </button>

@foreach (var item in Model.cTypes)
{

        status = (Model.SelectedTypeId == item.CTypeId ? "filter-craitaria-selected" : "filter-craitaria-unselected");
        <button type="submit" name="id" value="@item.CTypeId" class="filter-craitaria @status"> @item.Type </button>
}
</form>

