<link rel="stylesheet" href="~/css/ProductCardPartial.css" asp-append-version="true" />

<div class="footer">
    <div class="footer-container">
    <h1 class="follow-label">follow us at</h1>
        <div>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
                <img src="~/Images/LinkedIn.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/Images/facebook.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/Images/insta.png" />
            </a>
        </div>

    <h1 class="BeHappy-label">Be Happy</h1>

    <h6>Copyright© 2024 Elghool Food . All right reserved</h6>
    </div>
</div>



