<link rel="stylesheet" href="~/css/ProductCardPartial.css" asp-append-version="true" />

<footer class="footer">
    <h1 class="follow-label">follow us at</h1>
        <div>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
                <img src="~/img/LinkedIn.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/img/facebook.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/img/insta.png" />
            </a>
        </div>

    <h1 class="BeHappy-label">Be Happy</h1>

    <h6>Copyright© 2024 Elghool Food . All right reserved</h6>
</footer>



