@{
    ViewData["Title"] = "Home Page";
}


<style>

    .product-container {
        width: 100%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow:auto;
    }

    .home-container{
        margin: 50px;
        margin-top: 30px;
    }




</style>

<div class="home-container">

<partial name="FilterPartial" />


<div class="product-container" id="productContainer">

    @for (int i = 0; i < 200; i++)
    {
        <partial name="ProductCardPartial" />

    }
</div>
</div>