<link rel="stylesheet" href="~/css/ProductCardPartial.css" asp-append-version="true" />

<div class="product-card" id="card">

    <div class="product-details">

        <div class="details-top-section">
            <div class="rating-container">
                <img src="~/img/stare.png" class="stare" />
                <span class="rating">4.5</span>
            </div>

            <div class="food-tag-container">
                <h1 class="food-tag">veg</h1>
                <h1 class="food-tag">Healthy Food</h1>

            </div>
        </div>

        <div class="product-name">lemon honey glazed sous vide corn on the cob</div>

        <div class="details-down-section">
            <div class="proudect-price">199.9$</div>
            <button class="add-to-cart-button">
                <img src="~/img/add-to-cart.png" style="height:21px" />
            </button>
        </div>


    </div>

    <img src="~/img/food.jpeg" class="food-imge" />
</div>

