<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Formes.css" asp-append-version="true" />

<div class="form-container">

    <form asp-controller="Account" asp-action="Login" method="post" class="form" role="form">


        <div class="form-logo-container">

            <img src="~/img/logo_full.png" class="form-logo-img" />
            <h1 class="form-logo-header">Elghool Food</h1>

        </div>

        <div class="form-input-container">
            <input type="email" asp-controller="Home" asp-action="Index" placeholder="Enter yor name" />
            <input type="password" asp-controller="Home" asp-action="Index" placeholder="Enter yor email" />
            <input type="password" asp-controller="Home" asp-action="Index" placeholder="password" />
            <input type="password" asp-controller="Home" asp-action="Index" placeholder="confirm password" />
            <input type="password" asp-controller="Home" asp-action="Index" placeholder="Address" />

        </div>

        <button class="form-button">Register</button>
        <div class="form-links">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </div>


    </form>
</div>