@model Advantage


<section class="advantage-container advantage-@Model.dirction">

        <div class="advantage-pargraph-container advantage-pargraph-@Model.dirction">

            <h1 class="advantage-title" >@Model.title</h1>
            <p class="advantage-pargraph">
                @Model.pahpargraph
            </p>

        </div>

        <img src="~/@Model.imge" class="advantage-img" />
        @* ~/img/chaif.png *@

</section>