.aside-container {
    display: flex;
    height: 100vh;
    width: 161px;
    margin: 5px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    align-items: flex-start;
}

.dashboad-opration {
width:100%
}
