
* {
    margin: 0px;
    padding:0px;
    outline: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-weight:normal;
}
html {
   
}

body {
    overflow:hidden;
    height:100%
}

main {
    height: calc(100vh - 50px);
    width: 100%;
}

@font-face {
    font-family: 'grandhotel-regular';
    src: url('../fonts/grandhotel-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'spacegrotesk-variablefont_wght';
    src: url('../fonts/spacegrotesk-variablefont_wght.ttf') format('truetype');
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #151515;
}

a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}

.flex-no-top-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-no-normal-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
}
.btn {
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 7px;
    font-family: Space Grotesk;
    font-weight: lighter;
}



/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/